.input2{
    margin: 1em;
    padding: 0.5em;
    border-radius: 3px;
    border: 2px solid #898191;
    background-color: #3a3636;
    color: white;
    width: 120%;
}
.input2::placeholder {
    color: #d3cccc
}
.div-todo{
    display:flex;
    align-items:center;
    flex-direction:column;
    margin:6rem;
    width:20%;
    background-color: #252525;
    padding: 3em;
    border-radius: 20px;
    border: 2px solid #945bc9;
}
.div-entero{
    display: flex;
    justify-content: center;
}
.form2{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.boton2{
    margin-top: 1em;
    padding:1rem 1rem;
    font-size:1rem;
    border-radius:15px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    background-color: #1a1a1a;
    border: 2px solid #945bc9;
}
.boton2:hover {
    background-color: #100f0f;
}
.select{
    background-color: #3a3636;
    margin: 1em;
    color: white;
    padding: 0.5em;
}
h3{
    margin-bottom: 1em;
}
.div-todo2{
    display:flex;
    align-items:center;
    flex-direction:column;
    margin:6rem;
    width:100%;
    background-color: #252525;
    padding: 3em;
    border-radius: 20px;
    border: 2px solid #945bc9;
}
.input3{
    margin-right: 5em;
    padding: 0.5em;
    border-radius: 3px;
    border: 2px solid #898191;
    background-color: #3a3636;
    color: white;
    width: 100%;
}
.input3::placeholder {
    color: #d3cccc
}
.img-perfil{
    width:3.5rem;
    border-radius:100%;
    margin-bottom:1em;
}
.usuario{
    margin:0.5em;
}
.input-mod{
    margin: 10px;
    padding: 5px;
    color: #824ae3;
}
@media screen and (max-width: 1700px) {

    .div-todo{
        width:40%;
    }
}
@media screen and (max-width: 1000px) {
    .div-todo{
        width:60%;
    }
}

@media screen and (max-width: 450px) {
    h3 {
        text-align: center;
    }
}