*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;color:white;
    font-family: Consolas, sans-serif;
}
body {
    background-color: #1E1E1E;
    background-image: radial-gradient(#333232 1px, transparent 0);
    background-size: 40px 40px;
}

.header-home {
    background-color: #252525;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    width: 100%;

}

a {
    text-decoration:none;
}

.username {
    font-size:1.3rem;
    margin:0px 2vw 3px 1vw;
    transition: border-bottom 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.username:hover {
    border-bottom:1px solid white;
}

.pfp {
    width:3.5rem;
    border-radius:100%;
    transition: border 0.1s ease;
}

.pfp:hover{
    cursor:pointer;
    border: 3px solid #945bc9;
}

.botones-cont {
    height:90vh;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
}

.boton-activo {
    padding:1rem 4rem;
    font-size:1.5rem;
    margin:1rem;
    border-radius:15px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    background-color: #252525;
    border: 2px solid #945bc9;
    width:25rem;
    text-align: center;
}

.boton-activo:hover {
    background-color: #100f0f;
}

.buscador{
    margin-right:1rem ;
    width:70%;
    padding: 0.5em;
    color:white;
    background-color: #444040;
}

.logo{
    margin-right: 8em;
    margin-left:2em;
}
.busqueda{
    display: flex;
    justify-content: center;
    align-items: center;
}
.busqueda .form{
    display: flex;
    width: 30rem;
}
.header-right{
    display: flex;
}
.perfil{
    display: flex;
}
.botonConfirmar{
    padding: 0.5em;
    color:white;
    background-color: #444040;
    border-radius: 5px;
}
.ranking{
    margin-right: 14em;
    padding:0.5rem;
    font-size:1rem;
    border-radius:8px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    background-color: #413c3c;
    border: 2px solid #c9aa5b;
    width:9rem;
    text-align: center;
}
.ranking p{
    font-size:1rem;
}
.modo-admin{
    display: flex;
    align-items: center;
    justify-content: center;

}
.rojo-admin{
    margin-left: 0.2em;
}

@media screen and (max-width: 800px) {
    .botones-cont{
    //si se achica el largo, los botones se van por encima
    }
    .boton-activo {
        padding:1.5rem 4rem;
        font-size:3rem;
        background-color: #252525;
        margin:0.7rem;
        width:50%;
    }
    .logo{
        width:70%;
    }
    .buscador{
        width:150%
    }
}





