
table {
    width: 65%;
    border-collapse: collapse;
    table-layout: fixed;
}

thead {
    background-color: #333;
    color: #fff;
    text-align: center;
}

th, td {
    padding: 20px;
    border-bottom: 1px solid #ccc;

}
td{
    background-color: #3f3e3e;
}
.contRanking{
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 5rem;
}
.rankingGeneral{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.historialPartidas{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h3{
    margin-bottom: 2rem;
}

@media screen and (max-width: 900px) {
    .historialPartidas{
        margin-top: 30px;
    }

    .contRanking{
        flex-direction:column;
    }
}

