.tabla{
    width: 100%;
    height: 80vh;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
table {
    width: 80%;
    border-collapse: collapse;
    table-layout: fixed;
    margin: 2rem 2rem ;
}
.preguntas{
    width: 95%;
    border-collapse: collapse;
    table-layout: fixed;
}
.preguntasEditar{
    width: 97%;
    border-collapse: collapse;
    table-layout: fixed;
}

thead {
    background-color: #333;
    color: #fff;
    text-align: left;

}

th, td {
    padding: 20px;
    border-bottom: 1px solid #ccc;
}
td{
    background-color: #3f3e3e;
}

.boton2{
    margin-top: 1em;
    padding:1rem 1rem;
    font-size:1rem;
    border-radius:15px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    background-color: #1a1a1a;
    border: 2px solid #945bc9;
}
.boton2:hover {
    background-color: #100f0f;
}
.red{
    color: #ea4646;
}
.green{
    color: #6cb96c;
}

@media screen and (max-width: 767px) {
    *{
        font-size:12px;
    }
    .boton2{
        padding:0.5rem 0.5rem;
        margin:auto;
    }
    th, td {
        font-size: 12px;
        padding: 6px;
    }
    .busqueda {
        width: 15rem;
    }

}