.tabla{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 2em;
}
table {
    width: 80%;
    border-collapse: collapse;
    table-layout: fixed;
}

thead {
    background-color: #333;
    color: #fff;
    text-align: left;
}
.centrado{
    display: flex;
    justify-content: center;
}
th, td {
    padding: 20px;
    border-bottom: 1px solid #ccc;

}
td{
    background-color: #3f3e3e;
}
.boton-activo {
    padding:0.5rem;
    font-size:1rem;
    margin:auto;
    transform: translate(-20%, 0%);
    border-radius:15px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    background-color: #252525;
    border: 2px solid #945bc9;
    text-align: center;
    width:7rem;
}

.boton-activo:hover {
    cursor:pointer
}

.tdBoton{
    text-align:  center;
}

.botones-busqueda-div {
    display:flex;
    justify-content: center;
    margin:10px;
}

.busqueda-boton {
    padding:0.5rem;
    font-size:1rem;
    transform: translate(-20%, 0%);
    border-radius:15px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    background-color: #252525;
    border: 2px solid #945bc9;
    text-align: center;
    width:7rem;
    margin:0px 10px;
}

.busqueda-boton:hover {
    cursor:pointer;
}

@media screen and (max-width: 550px) {

    tr {
        font-size:12px;
    }

    .boton-activo {
        transform: translate(-40%, 0%);
        font-size:1rem;
        width: 5rem;
    }
}