* {
    color:white;
    background-color: #1c1b1b;
}

.texto {
    text-align: center;
    margin-top: 15px;
    padding:1em 2em;
    border:1px solid white;
    border-radius: 15px;
    background-color: #35066b;
    margin-bottom: 5em;
}

.volver{
    text-align:center;
    text-decoration: none;
    background-color: #3a3636;
    padding:1em 2em;
    border:1px solid white;
    border-radius: 5px;
}

.volver:hover{
    background-color: #252222;
}

.align {
    height:90vh;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}