<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<link rel="stylesheet" href="../public/css/home.css">
<header class="header-home">
    <div>
        <a href="/home"><img src="../public/images/LOGO.png" alt="LOGO" class="logo" width="250em"></a>
    </div>
    <div class="header-right">
        <div class="busqueda">
            <form class="form" action="/user/buscarPerfil" method="post">
                <input type="text" class="buscador" placeholder="buscar usuarios..." id="username" name="username">
                <input class="botonConfirmar" type="submit" value="Buscar">
            </form>
        </div>
        <div class="perfil">
            <a href="/user/mostrarPerfil?user={{username}}"><img class="pfp" src="../{{image}}" alt=""></a>
            <a class="username" href="/user/mostrarPerfil?user={{username}}">{{username}}</a>
        </div>
    </div>
</header>
