<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Questionario</title>
</head>
<body>
<link rel="stylesheet" href="../public/css/home.css">
<header class="header-home">
    <div>
        <a href="/home"><img src="../public/images/LOGO.png" alt="LOGO" class="logo" width="250em"></a>
    </div>
    <div class="modo-admin">
        <form action="/admin/logout" method="POST" class="form">
            <input type="submit" name="Logout" value="Logout" class="logout">
        </form>
    <p>MODO ADMIN</p>
    <img src="../public/images/botonRojo.png" width="25em" class="rojo-admin">
    </div>
</header>