<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/third-party/mustache/tests" />
        <option value="$PROJECT_DIR$/third-party/sdk-php-master/tests/MercadoPago/Client/Integration" />
        <option value="$PROJECT_DIR$/third-party/sdk-php-master/tests/MercadoPago/Client/Unit" />
      </list>
    </option>
  </component>
</project>