 <div class="botones-conte">
        <a class="boton-activo" href="/admin/mostrarCantidad">Mostrar datos</a>
        <a class="boton-activo" href="/admin/mostrarGraficos">Mostrar Graficos</a>
 </div>
