<link rel="stylesheet" href="../public/css/agregarPregunta.css">
<div class="div-entero">
    <div class="div-todo">
        <h3>Agregar Categoria</h3>
        <form action="/editor/agregarCategoria" method="post" class="form2">
            <input type="text" required name="categoria" placeholder="Ingresar nueva categoria..." class="input2">
            <h3>Elegir un color</h3>
            <input type="color" name="color">
            <input type="submit" value="Agregar" class="boton2">
        </form>
    </div>
</div>