<link rel="stylesheet" href="../public/css/agregarPregunta.css">
<div class="div-entero">
    <div class="div-todo">
        <h3>Agregar Pregunta</h3>
        <form action="/editor/agregarPreguntaParaEditor" method="post" class="form2">
            <select id="categorias" name="categoria" class="select">
            {{#categorias}}
                <option value="{{nombre}}">{{nombre}}</option>
            {{/categorias}}
            </select>
            <input type="text" required name="enunciado" placeholder="Ingresar enunciado..." class="input2">
            <input type="text" required name="respuesta1" placeholder="Ingresar respuesta 1..." class="input2">
            <input type="text" required name="respuesta2" placeholder="Ingresar respuesta 2..." class="input2">
            <input type="text" required name="respuesta3" placeholder="Ingresar respuesta 3..." class="input2">
            <input type="text" required name="respuesta4" placeholder="Ingresar respuesta correcta..." class="input2">
            <input type="submit" value="Agregar" class="boton2">
        </form>
    </div>
</div>