<link rel="stylesheet" href="../public/css/game.css">


<div class="todo-div">
    <div class="tiempo">
        <h4>0</h4>
    </div>
    <div class="{{pregunta.categoria}}">
        <h1 class="preg">
            {{pregunta.enunciado}}
        </h1>
    </div>
    <div class="botones-div">
        {{#respuestas}}
            <form method="POST" action="/game/checkAnswer">
                <input type="hidden" name="id_partida" value="{{partida}}">
                <input type="hidden" name="id_pregunta" value="{{pregunta.id}}">
                <input type="hidden" name="bool" value="{{es_correcta}}">
                <input type="hidden" name="URL" value="true">
                <button type="submit" class="boton-game"> {{texto}} </button>
            </form>
        {{/respuestas}}
    </div>
        <input type="hidden" id="id_pregunta" value="{{pregunta.id}}">
        <button class="reportar" type="button" id="reportar" name="reportar">Reportar</button>
</div>



<script type="text/javascript" src="../public/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../public/js/game.js"></script>
