<div class="contenedorOpcionesGrafico admin-container">
    <div class="contenedorGraficosContenido">
        <div class="botones-cont-graficos">
            <form method="POST" action="/admin/mostrarGraficoPaises">
                <div class="seleccione">
                    <h3>Seleccione:</h3>
                </div>
                <div class="radious">
                    <label>
                        <input type="radio" name="tiempo" value="1" required>
                        Dia
                    </label>
                    <label>
                        <input type="radio" name="tiempo" value="7">
                        Semana
                    </label>
                    <label>
                        <input type="radio" name="tiempo" value="30">
                        Mes
                    </label>
                    <label>
                        <input type="radio" name="tiempo" value="364">
                        Año
                    </label>
                </div>
                <div>
                    <button type="submit" class="boton-pasivo"> Generar grafico paises</button>
                </div>
            </form>
        </div>
        <div class="botones-cont-graficos">
            <form method="POST" action="/admin/mostrarGraficoPorSexo">

                <div class="seleccione">
                    <h3>Seleccione:</h3>
                </div>
                <div class="radious">
                    <label>
                        <input type="radio" name="tiempo" value="1" required>
                        Dia
                    </label>
                    <label>
                        <input type="radio" name="tiempo" value="7">
                        Semana
                    </label>
                    <label>
                        <input type="radio" name="tiempo" value="30">
                        Mes
                    </label>
                    <label>
                        <input type="radio" name="tiempo" value="364">
                        Año
                    </label>
                </div>
                <div>
                    <button type="submit" class="boton-pasivo"> Generar grafico sexo</button>
                </div>

            </form>

        </div>
    </div>
    <div class="contenedorGraficosContenido">
        <div class="botones-cont-graficos">
            <form method="POST" action="/admin/mostrarGraficoPorEdad">

                <div class="seleccione">
                    <h3>Seleccione:</h3>
                </div>
                <div class="radious">
                    <label>
                        <input type="radio" name="tiempo" value="1" required>
                        Dia
                    </label>
                    <label>
                        <input type="radio" name="tiempo" value="7">
                        Semana
                    </label>
                    <label>
                        <input type="radio" name="tiempo" value="30">
                        Mes
                    </label>
                    <label>
                        <input type="radio" name="tiempo" value="364">
                        Año
                    </label>
                </div>
                <div>
                    <button type="submit" class="boton-pasivo"> Generar grafico edad</button>
                </div>


            </form>
        </div>
        <div class="botones-cont-graficos">
            <form method="POST" action="/admin/mostrarGraficoPreguntas">
                <div class="seleccione">
                    <h3>Seleccione:</h3>
                </div>
                <div class="radious">
                    <label>
                        <input type="radio" name="tiempo" value="1" required>
                        Dia
                    </label>
                    <label>
                        <input type="radio" name="tiempo" value="7">
                        Semana
                    </label>
                    <label>
                        <input type="radio" name="tiempo" value="30">
                        Mes
                    </label>
                    <label>
                        <input type="radio" name="tiempo" value="364">
                        Año
                    </label>
                </div>
                <div>
                    <button type="submit" class="boton-pasivo"> Generar grafico preguntas</button>
                </div>

            </form>

        </div>
    </div>
</div>




