<div class="botones-cont">

    <a class="boton-activo" href="/game/empezarJuego"> Jugar </a>
    {{#verificar}}
        <h4>{{verificar}}</h4>
    {{/verificar}}
    <a class="boton-activo" href="/home/mostrarRanking">Ranking</a>
<!--    <a class="boton-activo" href="/home/tienda">Tienda</a>-->
    <a class="boton-activo" href="/home/mostrarAgregarPregunta">Agregar pregunta</a>
    <a class="boton-activo" href="/home/mostrarAgregarCategoria">Agregar categoria</a>
    {{#esEditor}}
        <a class="boton-activo" href="/editor/mostrarPreguntasReportadas">Preguntas Reportadas</a>
        <a class="boton-activo" href="/editor/mostrarPreguntasNuevas">Nuevas</a>
        <a class="boton-activo" href="/editor/mostrarModoEditor">Editar o borrar</a>
    {{/esEditor}}
</div>
