<div class="botones-cont">
    <a class="boton-activo" href="/game/jugar"> Jugar </a>
    <a class="boton-activo" href="/game/gamingTime"> Jugar </a>
    <a class="boton-activo" href="/preguntas/mostrar"> Jugar </a>
</div>