<link rel="stylesheet" href="../public/css/home.css">
<header class="header-home">
    <a href="/home"><img class="pfp" src="../{{image}}" alt="Pfp" ></a>

    <a class="username" href="/user/profile">{{username}}</a>
</header>

<div class="botones-cont">
    <a class="boton-activo" href="/preguntas/mostrar"> JUGAR </a>
    <a class="boton-activo" href="/preguntas/mostrar"> JUGAR </a>
    <a class="boton-activo" href="/preguntas/mostrar"> JUGAR </a>
</div>