<link rel="stylesheet" href="../public/css/tablas.css">
<div class="tabla">
    <table>
        <thead>
        <tr>
            <th style="text-align: center">Partidas totales</th>
            <th style="text-align: center">Preguntas totales</th>
            <th style="text-align: center">Preguntas creadas</th>
            <th style="text-align: center">Jugadores totales</th>
            <th style="text-align: center">Jugadores nuevos</th>
        </tr>
        </thead>
        <tbody>
        <td style="text-align: center">
            {{cantidadPartidas}}
        </td>
        <td style="text-align: center">
            {{cantidadPreguntasEnElJuego}}
        </td>
        <td style="text-align: center">
            {{cantidadPreguntasCreadas}}
        </td>
        <td style="text-align: center">
            {{cantidadUsuarios}}
        </td>
        <td style="text-align: center">
            {{cantidadJugadoresNuevos}}
        </td>
        </tbody>
    </table>
    <form class="busqueda" method="post" action="/admin/mostrarReporte">
        <button class="boton-pasivo" type="submit">Ver PDF</button>
    </form>
</div>





