<link rel="stylesheet" href="../public/css/tablas.css">
<body>
<table>
    <thead>
    <tr>
        <th style="text-align: center">Cantidad de partidas</th>
        <th style="text-align: center">Cantidad de preguntas en el juego</th>
        <th style="text-align: center">Cantidad de preguntas creadas</th>
        <th style="text-align: center">Cantidad de jugadores en la aplicacion</th>
    </tr>
    </thead>
    <tbody>
    <td style="text-align: center">
        {{#cantidadPartidas}}
            {{0}}
        {{/cantidadPartidas}}
    </td>
    <td style="text-align: center">
        {{#cantidadPreguntasEnElJuego}}
            {{0}}
        {{/cantidadPreguntasEnElJuego}}
    </td>
    <td style="text-align: center">
        {{#cantidadPreguntasCreadas}}
            {{0}}
        {{/cantidadPreguntasCreadas}}
    </td>
    <td style="text-align: center">
        {{#cantidadUsuarios}}
            {{0}}
        {{/cantidadUsuarios}}
    </td>
    </tbody>
</table>
</body>