<link rel="stylesheet" href="../public/css/game.css">
<div class="center-mid cartelPerdiste">
    <h1>PERDISTE</h1>
    <h1>Puntaje de la partida: {{puntajeTotal}}</h1>
    <h1>Tus puntos totales: {{puntajeUsuario}}</h1>
    <a href="/home/mostrar" class="boton-activo">VOLVER AL LOBBY</a>
</div>