<link rel="stylesheet" href="../public/css/preguntasReportadas.css">
<table class="ranking">
    <thead>
    <tr>
        <th>Pregunta</th>
    </tr>
    </thead>
    <tbody>
    {{#preguntasNuevas}}
        <tr>
            <td>{{enunciado}}</td>
            <td>{{categoria}}</td>
    {{/preguntasNuevas}}
    {{#respuestasNuevas}}
            <td>{{texto}}</td>
        </tr>
        <td><button>Eliminar</button></td>
        <td><button>Agregar</button></td>
    {{/respuestasNuevas}}

    </tbody>
</table>