<link rel="stylesheet" href="../public/css/tablas.css">
<table class="preguntas">
    <thead>
    <tr>
        <th>Pregunta</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{#preguntasReportadas}}
        <tr>
            <td>{{enunciado}}</td>
            <form action="/editor/eliminarReestablecerReportadas" method="POST">
                <input type="hidden" name="pregunta_id" value="{{id}}">
                <td><button type="submit" name="eliminar" value="eliminar" class="boton2">Eliminar</button></td>
                <td><button type="submit" name="reestablecer" value="reestablecer" class="boton2">Reestablecer</button></td>
            </form>
        </tr>
    {{/preguntasReportadas}}
    </tbody>
</table>