<link rel="stylesheet" href="../public/css/ranking.css">
<table class="ranking">
    <thead>
    <tr>
        <th>Username</th>
        <th>Puntos</th>
    </tr>
    </thead>
    <tbody>
    {{#usuarios}}
        <tr>
            <td><a href="/user/mostrarPerfil?user={{username}}">{{username}}</a></td>
            <td>{{puntaje}}</td>
        </tr>
    {{/usuarios}}
    </tbody>
</table>
