<link rel="stylesheet" href="../public/css/register.css" xmlns="">
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiq3xISXSZYgkd9GDAOdajy4NK2d3L7dY&callback=initMap" async defer></script>
<div class="form">
    <form action="/user/registrar" method="post" enctype="multipart/form-data">
        <label for="nombre">Nombre Completo</label>
        <input type="text" required name="nombre" placeholder="Nestor Sanchez">
        <label for="fecha">Fecha de nacimiento</label>
        <input type="date" required name="fecha" >
        <label for="sexo">Sexo</label>
        <select required name="sexo" id="sexo">
            <option value="femenino">Femenino</option>
            <option value="masculino">Masculino</option>
            <option value="x">Prefiero no cargarlo</option>
        </select>
        <label for="mail">Mail</label>
        <input type="email" name="email" id="email" required placeholder="tuTurrito@gmail.com">
        <label for="password">Clave</label>
        <input type="password" name="password" id="password" placeholder="**********" required>
        <label for="repeatPassword">Repita la clave</label>
        <input type="password" name="repeatPassword" id="repeatPassword" placeholder="**********" required>

        <label for="usuario">Usuario</label>
        <input type="text" required name="usuario" placeholder="NestorSanchez">

        <label for="file-upload" class="custom-file-upload">
            <i class="fa fa-cloud-upload"></i> Subir Archivo
        </label>
        <input id="file-upload" type="file" style="display:none;" name="imagen">

        <div id="mapa" style="width:500px; height:400px;"></div>

        <input type="hidden" id="lat" name="lat" value="">
        <input type="hidden" id="lon" name="lon" value="">
        <button class="btnSumate" type="submit">Sumate</button>

        <h3 class="error">{{suceso}}</h3>
        <a href="login" class="a-usuario">¿Ya tienes un usuario?</a>
    </form>

</div>

<script>
    function initMap() {
        var mapOptions = {
            center: new google.maps.LatLng(-34.6686986, -58.5614947),
            zoom: 12,
            panControl: false,
            zoomControl: false,
            scaleControl: false,
            mapTypeControl: false,
            streetViewControl: true,
            overviewMapControl: true,
            rotateControl: true,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        let map = new google.maps.Map(document.getElementById("mapa"), mapOptions);
        let marker = null;
        google.maps.event.addListener(map, "click", function(event) {
            if (event.domEvent.button === 0) {
                var lat = event.latLng.lat();
                var lng = event.latLng.lng();
                if (marker) {
                    marker.setMap(null);
                }
                marker = new google.maps.Marker({
                    position: event.latLng,
                    map: map,
                    draggable: true
                });
                document.getElementById("lat").value = lat;
                document.getElementById("lon").value = lng;
            }
        });
    }
</script>