<link rel="stylesheet" href="../public/css/tienda.css">
<div class="principal">
    <div class="containerTarjetas">
        <div class="flex divTarjetas">
            <div class="tarjetas">
                <p class="precio">$200</p>
                <img width="150em" height="auto" src="../public/images/101047017-moneda-icono-de-diseýo-de-logotipo-transformed-removebg-preview.png">
                <p>5</p>
                <form method="POST" action="/tienda/comprar">
                    <input type="hidden" name="precio" value="200">
                    <input type="hidden" name="trampitas" value="5">
                    <button class="botonComprar">comprar</button>
                </form>
            </div>
            <div class="tarjetas">
                <p class="precio">$350</p>
                <img width="150em" height="auto" src="../public/images/101047017-moneda-icono-de-diseýo-de-logotipo-transformed-removebg-preview.png">
                <p>10</p>
                <form method="POST" action="/tienda/comprar">
                    <input type="hidden" name="precio" value="350">
                    <input type="hidden" name="trampitas" value="10">
                    <button class="botonComprar">comprar</button>
                </form>
            </div>
            <div class="tarjetas">
                <p class="precio">$500</p>
                <img width="150em" height="auto" src="../public/images/101047017-moneda-icono-de-diseýo-de-logotipo-transformed-removebg-preview.png">
                <p>15</p>
                <form method="POST" action="/tienda/comprar">
                    <input type="hidden" name="precio" value="500">
                    <input type="hidden" name="trampitas" value="15">
                    <button class="botonComprar">comprar</button>
                </form>
            </div>
        </div>
        <div class="flex divTarjetas">
            <div class="tarjetas">
                <p class="precio">$650</p>
                <img width="150em" height="auto" src="../public/images/101047017-moneda-icono-de-diseýo-de-logotipo-transformed-removebg-preview.png">
                <p>20</p>
                <form method="POST" action="/tienda/comprar">
                    <input type="hidden" name="precio" value="650">
                    <input type="hidden" name="trampitas" value="20">
                    <button class="botonComprar">comprar</button>
                </form>
            </div>
            <div class="tarjetas">
                <p class="precio">$750</p>
                <img width="150em" height="auto" src="../public/images/101047017-moneda-icono-de-diseýo-de-logotipo-transformed-removebg-preview.png">
                <p>25</p>
                <form method="POST" action="/tienda/comprar">
                    <input type="hidden" name="precio" value="750">
                    <input type="hidden" name="trampitas" value="25">
                    <button class="botonComprar">comprar</button>
                </form>
            </div>
            <div class="tarjetas">
                <p class="precio">$1000</p>
                <img width="150em" height="auto" src="../public/images/101047017-moneda-icono-de-diseýo-de-logotipo-transformed-removebg-preview.png">
                <p>50</p>
                <form method="POST" action="/tienda/comprar">
                    <input type="hidden" name="precio" value="1000">
                    <input type="hidden" name="trampitas" value="50">
                    <button class="botonComprar">comprar</button>
                </form>
            </div>
        </div>
    </div>

</div>

