<link rel="stylesheet" href="../public/css/tienda.css">
<div class="principal">
    <div class="containerTarjetas">
        <div class="flex divTarjetas">
            <div class="tarjetas">
                <p class="precio">$200</p>
                <img width="150em" height="auto" src="../public/images/101047017-moneda-icono-de-diseýo-de-logotipo-transformed-removebg-preview.png">
                <p>5</p>
                <button class="botonComprar">comprar</button>
            </div>
            <div class="tarjetas">
                <p class="precio">$350</p>
                <img width="150em" height="auto" src="../public/images/101047017-moneda-icono-de-diseýo-de-logotipo-transformed-removebg-preview.png">
                <p>10</p>
                <button class="botonComprar">comprar</button>
            </div>
            <div class="tarjetas">
                <p class="precio">$500</p>
                <img width="150em" height="auto" src="../public/images/101047017-moneda-icono-de-diseýo-de-logotipo-transformed-removebg-preview.png">
                <p>15</p>
                <button class="botonComprar">comprar</button>
            </div>
        </div>
        <div class="flex divTarjetas">
            <div class="tarjetas">
                <p class="precio">$650</p>
                <img width="150em" height="auto" src="../public/images/101047017-moneda-icono-de-diseýo-de-logotipo-transformed-removebg-preview.png">
                <p>20</p>
                <button class="botonComprar">comprar</button>
            </div>
            <div class="tarjetas">
                <p class="precio">$750</p>
                <img width="150em" height="auto" src="../public/images/101047017-moneda-icono-de-diseýo-de-logotipo-transformed-removebg-preview.png">
                <p>25</p>
                <button class="botonComprar">comprar</button>
            </div>
            <div class="tarjetas">
                <p class="precio">$1000</p>
                <img width="150em" height="auto" src="../public/images/101047017-moneda-icono-de-diseýo-de-logotipo-transformed-removebg-preview.png">
                <p>50</p>
                <button class="botonComprar">comprar</button>
            </div>
        </div>
        
    </div>
</div>