<link rel="stylesheet" href="../public/css/perfil.css">
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiq3xISXSZYgkd9GDAOdajy4NK2d3L7dY&callback=initMap" async defer></script>
<div class="usuario-entero">
    <div class="usuario">

        <img class="img-usuario" src="../{{imagePerfil}}" alt="" width="200px">
        {{#editar}}

            <form action="/user/logout" method="POST" class="form">
                <input type="submit" name="Logout" value="Logout" class="logout">
            </form>

            {{^verificado}}

                <form action="/user/enviarCorreo" method="POST">
                    <input type="hidden" name="token">
                    <button type="submit" class="boton-activo">Reenviar correo</button>
                </form>

            {{/verificado}}

        {{/editar}}

        <h3>USERNAME: {{usernamePerfil}}</h3>
        <p>PUNTAJE: {{puntaje}}</p>
        <p>PARTIDAS JUGADAS: {{partidasRealizadas}}</p>
        <div id="mapa" style="height:400px;"></div>
        <div class="qr">
            <img src = "../{{qr}}"  alt="Qr"/>
        </div>
        <form action="/user/mostrarModificarPerfil" method="POST" class="form">
            <input type="submit" name="modificar" value="modificar perfil" class="modificar">
        </form>
    </div>

    <input type="hidden" name="latitud" id="latitud" value="{{latitud}}">
    <input type="hidden" name="longitud" id="longitud" value="{{longitud}}">

</div>
<script>
    var lat = parseFloat(document.getElementById("latitud").value);
    var lng = parseFloat(document.getElementById("longitud").value);
    function initMap() {
        var mapOptions = {
            center: new google.maps.LatLng(lat, lng),
            zoom: 12,
            panControl: false,
            zoomControl: false,
            scaleControl: false,
            mapTypeControl: false,
            streetViewControl: true,
            overviewMapControl: true,
            rotateControl: true,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };


        let map = new google.maps.Map(document.getElementById("mapa"), mapOptions);
        marker = new google.maps.Marker({
            position: new google.maps.LatLng(lat, lng),
            map: map,
            draggable: true
        });
    }
</script>
