<link rel="stylesheet" href="../public/css/userSerch.css">
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiq3xISXSZYgkd9GDAOdajy4NK2d3L7dY&callback=initMap" async defer></script>
<div class="tabla">
    <table class="usuarioBuscado">
        <thead>
        <tr>
            <th>Username</th>
            <th>Nombre</th>
            <th>Partidas Jugadas</th>
            <th>Puntaje</th>
            <th>Ver Perfil</th>
        </tr>
        </thead>
        <tbody>
        {{#resultadoBusqueda}}
            <tr>
                <td><a href="/user/mostrarPerfil?user={{username}}">{{username}}</a></td>
                <td><a href="/user/mostrarPerfil?user={{username}}">{{name}}</a></td>
                <td><a href="/user/mostrarPerfil?user={{username}}">{{partidasRealizadas}}</a></td>
                <td><a href="/user/mostrarPerfil?user={{username}}">{{puntaje}}</a></td>
                <td><a href="/user/mostrarPerfil?user={{username}}"><button class="boton-activo" >Ver</button></td>
            </tr>
        {{/resultadoBusqueda}}
        </tbody>
    </table>

</div>


<!--
<script>
    var lat = parseFloat(document.getElementById("latitud").value);
    var lng = parseFloat(document.getElementById("longitud").value);
    function initMap() {
        var mapOptions = {
            center: new google.maps.LatLng(lat, lng),
            zoom: 12,
            panControl: false,
            zoomControl: false,
            scaleControl: false,
            mapTypeControl: false,
            streetViewControl: true,
            overviewMapControl: true,
            rotateControl: true,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };


        let map = new google.maps.Map(document.getElementById("mapa"), mapOptions);
        marker = new google.maps.Marker({
            position: new google.maps.LatLng(lat, lng),
            map: map,
            draggable: true
        });
    }
</script>