<link rel="stylesheet" href="../public/css/verificacion.css">

<div class="align">
{{#success}}
    <h1 class="texto">Se verificó</h1>
{{/success}}

{{^success}}
    <h1 class="texto">No se pudo verificar<br></h1>
{{/success}}

<a class="volver" href="/home">Volver al inicio</a>
</div>